<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
       function Database(action){
            switch(action)
            {
                case "Insert":
                document.write("Record Inserted");
                break;
                case "Update":
                document.write("Record Updated..");
                break;
                case "Delete":
                document.write("Record Deleted..");
                break;
            }
       }
    </script>
</head>
<body>
    <button name="Insert" onclick="Database(this.name)">Insert</button>
    <button name="Update" onclick="Database(this.name)">Update</button>
    <button name="Delete" onclick="Database(this.name)">Delete</button>
</body>
</html>